*,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    /* -----primary colors----- */
    --font-color: #384b61;
    --font-color-titles: #7FAEC5;

    --background-color: #ffffff;

    --button-color: #4ECD5D;
    --button-font: #ffffff;

    /* -----secondary colors----- */
    --background-color-2: #fafafa;
    --button-color-hover: #0E373F;
    --button-font-hover: #ffffff;

    --button-color-2: #9CD67D;
    --button-font-2: #0C3F0A;

    --button-color-3: #006319;
    --button-font-3: #FFFFFE;
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
ul{
    list-style-type: none;
}
.topnav{
    font-weight: 400;
    background-color: var(--background-color);
    overflow: hidden;
    display: inline;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0px 0px #dbdbdb;
    background-color: var(--background-color);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.topnav a{
    font-family: sans-serif;
    float: right;
    color: var(--font-color-titles);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover{
    background-color: transparent;
    color: var(--button-color);
    border-bottom: 3px #000000;
}
.Logo{
    float: left;
    font-family: sans-serif;
    color: var(--font-color-titles);
    display: inline;  
    padding: 15px 20px;  
    width: 130px;
    height: 60px;
    margin-left: 30px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
}
.email{
    color: cadetblue;
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;

}
form{
    text-align: center;
}
.motto{
    width: 12em;
    font-size: 30px;
    text-align: center;
    margin: auto;
    font-family: sans-serif;
    color: rgb(59, 59, 59);
}
span{
    color: #71b0c8;
    background-color: transparent;
    border-radius: 5px;
}
.kopjes{
    text-align: center;
    font-family: sans-serif;
    color: var(--font-color-titles)
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
section h2{
    font-size: 30px;
    padding-top: 40px;
}
section h3{
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    color: #4d4d4d;
}
section p{
    color: var(--font-color);
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.4;
    width: 30em;
    text-align: center;
    margin-bottom: 80px;
}
section{
    padding: 50px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    text-align: center;
}
.welkom, .waarom, .over {
    background-color: var(--background-color-2);
}
.over p{
    margin: auto;
    display: block;
    text-align: center; 
    text-decoration: none;
}
.contact p{
    margin: auto;
    display: block;
    text-align: center;
}


/* de b-rain app */

.brain-app p{
float: left;
padding-top: 60px;
padding-left: 90px;
margin-left: 90;

}
.app{
    padding-top: 20px;
    padding-left: 100px;
    height: 450px;
    width: 270px;
}


/* Landpagina overlay foto */

/* .landingpage{
    position: relative;
    display: inline-block;
    width: 100vh;
    height: 500px; 
}*/

.image-container img {
    object-fit: cover;
    display: block;
    width: 100vh;
    height: 620px;
    border-radius: 10px;
}
  .overlay-text{
    font-family: sans-serif;
    font-weight: 700;
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: #000000; 
    padding: 10px 20px; 
    font-size: 36px; 
    text-align: center;
}



/* Lees meer button/checkbox bij "Wat is b-RAIN?" */

.ul-test{
    display: flex;
    overflow: scroll;
    overscroll-behavior: contain auto;
    scroll-snap-align: center;
}
.test-read {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: sans-serif;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding-top: 50px;
}
.card{
    background-color: #f5f5f5;
    width: 500px;
    padding: 22px 40px;
    border-radius: 10px;
    line-height: 1.4;
    text-align: left;
}
#ch{
    display: none;
}
#ch:checked ~ .content {
    display: block;
}
#ch:checked ~ label{
    display: none;
}
.content{
    display: none;
}
label{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    /* background-color: #4ECD5D; */
    /* background-color: #106300; */
    background-color: #006319;
    padding: 3px 13px;
    border-radius: 5px;
    margin-top: 12px;
}


.wat-brain-foto{
    float: left;
    border-radius: 30px;
    height: 400px;
}

/* Waarom b-RAIN? regenton foto*/

.regenton-voordelen{
    float: right;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}


/* test */

.image-change{
    margin:auto;
}

.img-test{
    max-width: 100%;
    border-radius: 5px;
}
.slidecontainer {
    /* margin-top: 10px; */
    padding: 0px;
    margin: 0px;
}

.slider-range {
    width: 25%;
}

.range-number {
    text-align: center;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0 3px;
    margin-bottom: 15px;
}
.test-java{
    padding: 0px;
    margin: 0px;
}
.li-test{
    margin: 40px;
    margin-top: 0;
}
.p-value{
    color: white;
}
#rangevalue{
    color: white;
}
.contact-button{
    background-color: var(--button-font-3);
    color: black ;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 20px;
}
.contact-link{
    text-decoration: none;
    color: black;
}

